.header-page{
    background-image: url('../images/Object.jpg');
}

.paragraph-styles {
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
}

.logo {
    position: left;
    margin-left: -30px;
}
.nav {
    position: relative;
    margin-left: 150px;
}
.li {
    text-align: right;
    margin-right: 100px;
}
.li-element {
    padding: 0 10px 0 10px;
}
.h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}